.menu-list-elements {
    padding: 0px;
    margin: 0px;
    position:relative;
    height: 550px;
    overflow-y:scroll;
}
.crea-button{
    position: inherit;
}
.container-fluid{
    width: 90%;
}
.selected {
	background-color: orange;
	color:black;


}

.selected:hover{
    background-color: orange;
    color: gray;
}
.tabella-attori{
	margin-top:20px;
	height: 430px;
	overflow-y:scroll;
}
.listAttrAttori, .listAttrAttori:focus{
	background: transparent;        
    border: none;         
    outline-width: 0;    
    cursor: default; 
}

.table{
	table-layout:fixed;
}	

