<!doctype html>
<html>
	<head th:insert="general.html::headPart"/>
<body>
		<header th:insert="general.html::headerPart"/>
		
		<div class="container-fluid">
        	<div class="row">
            	<div class="menu-list-elements col-md-2">
          	  		<div class="list-group">
          	  			<div class="crea-button">
            	        	<a class="list-group-item list-group-item-action active" th:text="@{Nuova interfaccia}" th:href="@{/interfaccia/visualizza(idProgetto=${form.idProgetto})}"/>
            	   		</div>
      	             		<a th:each="element : ${interfacciaList}" th:class="${#strings.equals(form.id,element.id)} ? 'list-group-item list-group-item-action selected' : 'list-group-item list-group-item-action'" th:text="${element.nome}" th:href="@{/interfaccia/visualizza(idProgetto=${form.idProgetto},idSelected=${element.id})}"/>
     	    		</div>
   		      	</div>
        	 	<div class="form-attr col-md-5">
  		        	<h1>Gestione Interfacce</h1>
 	              	<h2 th:if= ${form.id} &le; 0>Modifica</h2>
				   	<h2 th:unless= ${form.id} &le; 0>Inserisci</h2>
					<form action="#" th:action="@{/interfaccia/formInterfaccia}" th:object="${form}" method="post">   
				 		<input type="hidden" th:field="*{id}" >
				 		<input type="hidden" th:field="*{idProgetto}">
				 			<div class="form-group">
                        		<label for="interfaccia">Interfaccia</label>
                       			<input type="text" class="form-control" id="interfaccia" th:field="*{nome}"
								 placeholder="nome interfaccia" />
                        		<small id="interfaccia-help" class="form-text text-muted">obbligatorio</small>
                        	</div>
                        	<div class="form-group">
                        		<label for="codice">Codice</label>
                       		 	<input type="text" class="form-control" id="codice" th:field="*{codice}"
								 placeholder="codice" />
                        		<small id="interfaccia-help" class="form-text text-muted">obbligatorio</small>
                        </div>
                        <div class="form-group">
                        	<label for="codice">Descrizione</label>
                       		 <input type="text" class="form-control" id="Descrizione" th:field="*{descrizione}"
							  placeholder="descrizione" />
                        	<small id="interfaccia-help" class="form-text text-muted">opzionale</small>
                        </div>
                        <p>
                        	<button class="btn btn-primary" type="submit" name="action" th:value="Progetto">Progetto</button>
							<button class="btn btn-primary" type="submit" name="action" value="Inserisci" > Inserisci </button>
							<button class="btn btn-primary" th:if=(*{id}!=0) type="submit" name="action" value="Modifica">Modifica</button>
							<button class="btn btn-primary" th:if=(*{id}!=0) type="submit" name="action" value="Cancella">Cancella</button>
							<button class="btn btn-primary" type="reset" value="Reset">Reset </button>
							<button class="btn btn-primary" th:if=(*{id}!=0) type="submit" name="action" th:value="Funzionalita">funzionalita</button>
						</p>
					</form>
        		</div>
      		</div>
    	</div> 
	</body>

</html>