<!doctype html>
<html>
		<head th:insert="general.html::headPart"/>
	<body>
   		<header th:insert="general.html::headerPart"/>
   		<div class="container-fluid">
        	<div class="row">
            	<div class="menu-list-elements col-md-2">
          	  		<div class="list-group">
          	  			<div class="crea-button">
            	        	<a class="list-group-item list-group-item-action active" th:text="@{Nuovo Focus}" th:href="@{/focus/visualizza(idFunzionalita=${form.idFunzionalita})}"/>
            	   		</div>
      	             		<a th:each="element : ${focusList}" th:class="${#strings.equals(element.id,form.id)} ? 'list-group-item list-group-item-action selected' :'list-group-item list-group-item-action'" th:text="${element.nome}" th:href="@{/focus/visualizza(idFunzionalita=${form.idFunzionalita},idSelected=${element.id})}"/>
     	    		</div>
   		      	</div>
   		   		<div class="form-attr col-md-5">
  		        	<h1>Gestione focus</h1>
 	              	<h2 th:if= ${form.id} &le; 0>Modifica</h2>
				   	<h2 th:unless= ${form.id} &le; 0>Inserisci</h2>
				   	
					<form action="#" th:action="@{/focus/formFocus}" th:object="${form}" method="post">   
				 		<input type="hidden" th:field="*{id}" >
				 		<input type="hidden" th:field="*{idFunzionalita}">
				 			<div class="form-group">
                        		<label for="funzionalita">Funzionalita</label>
                       			<input type="text" class="form-control" id="funzionalita" th:field="*{nome}"
								 placeholder="nome funzionalita" />
                        		<small id="funzionalita-help" class="form-text text-muted">obbligatorio</small>
                        	</div>
                        	<div class="form-group">
                        		<label for="codice">Codice</label>
                       		 	<input type="text" class="form-control" id="codice" th:field="*{codice}"
								 placeholder="codice" />
                        		<small id="codice-help" class="form-text text-muted">obbligatorio</small>
                        	</div>
                       		<div class="form-group">
                        		<label for="codice">Descrizione</label>
                       			<input type="text" class="form-control" id="Descrizione" th:field="*{descrizione}"
							  	 placeholder="descrizione" />
                        		<small id="descrizione-help" class="form-text text-muted">opzionale</small>
                        	</div>
                        	<p>
                        		<button class="btn btn-primary" type="submit" name="action" th:value="Funzionalita">Funzionalita</button>
								<button class="btn btn-primary" type="submit" name="action" value="Inserisci" > Inserisci </button>
								<button class="btn btn-primary" th:if=(*{id}!=0) type="submit" name="action" value="Modifica">Modifica</button>
								<button class="btn btn-primary" th:if=(*{id}!=0) type="submit" name="action" value="Cancella">Cancella</button>
								<button class="btn btn-primary" type="reset" value="Reset">Reset </button>
							</p>
						</form>
        			</div>      	
         	</div>
     	</div> 
	</body>
</html>