<!doctype html>
<html lang="en">
<head th:insert="generalTemplate.html::headPart" />
<body>
	<div class="fixed-top">
		<header th:insert="generalTemplate.html::headerPart" />

		<div class="container-fluid" style="background-color: #ffc26c;">
			<div class="navbar navbar-light" style="background-color: #ffc26c;">
				<div class="row">
					<div class="col-lg-3">
						<div class="form-floating">
							<select class="form-select" id="idProgetto"
								aria-label="Floating label select example">
								<option selected>Scegli progetto</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select> <label for="idProgetto">Progetto</label>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-floating">
							<select class="form-select" id="idInterfaccia"
								aria-label="Floating label select example">
								<option selected>Scegli interfaccia</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select> <label for="idInterfaccia">Interfaccia</label>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-floating">
							<select class="form-select" id="idFunzionalita"
								aria-label="Floating label select example">
								<option selected>Scegli funzionalita</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select> <label for="idFunzionalita">Funzionalita</label>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="form-floating">
							<select class="form-select" id="idFocus"
								aria-label="Floating label select example">
								<option selected>Scegli focus</option>
								<option value="1">One</option>
								<option value="2">Two</option>
								<option value="3">Three</option>
							</select> <label for="idFocus">Focus</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid" >
		<table class="table table-hover tabella-testcase">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">First</th>
					<th scope="col">Last</th>
					<th scope="col">Handle</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<th scope="row">1</th>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
			</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td colspan="2">Larry the Bird</td>
				<td>@twitter</td>
			</tr>
		</tbody>
	</table>

</body>
</html>